<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<p th:if="${message}" th:text="${message}">User registered successfully</p>
<form th:action="@{/auth/register}" th:object="${form}" method="post">
    <label>Email <input type="email" th:field="*{email}"></label><br>
    <label>Username <input type="text" th:field="*{username}"></label><br>
    <label>Password <input type="password" th:field="*{password}"></label><br>
    <button type="submit">Register</button>
</form>
</body>
</html>
